body {
    background-color:#293D51;
}

#container {
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#header {
    background-color:#fff;
    border-radius:10px;
}

.headerRotate {
    -webkit-animation: RotateHeader 5s;
    -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes RotateHeader {
    0% { -webkit-transform: perspective(400px) rotateX( 90deg );}
    20% { -webkit-transform: perspective(400px) rotateX( -2deg ); }
    30% { -webkit-transform: perspective(400px) rotateX( 8deg ); }
    60% { -webkit-transform: perspective(400px) rotateX( 0deg );}
    100% { -webkit-transform: perspective(400px) rotateX( 0deg );}
}

.headerFly {
    -webkit-animation: FlyInHeader 0.7s;
    -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes FlyInHeader {
    0% { -webkit-transform: translateX(-40px); opacity:0;}
    100% { -webkit-transform: translateX(40px); opacity:1;}
}


.divProfile {
    -webkit-animation: profilesSweep 2s;
    -webkit-animation-fill-mode:forwards;
}

.divProfile ul li {
      float:left;
    margin: 0 10px 0 10px;
    transition: -webkit-transform 1s;
}

.divProfile ul li:hover {
    -webkit-transform: scale(1.05);
}

.divProfile ul li img {
    border-radius:10%;
}

@-webkit-keyframes profilesSweep {
    0% { -webkit-transform: perspective(400px) rotateY( 90deg );}
    20% { -webkit-transform: perspective(400px) rotateY( -2deg ); }
    30% { -webkit-transform: perspective(400px) rotateY( 8deg ); }
    60% { -webkit-transform: perspective(400px) rotateY( 0deg );}
    100% { -webkit-transform: perspective(400px) rotateY( 0deg );}
}
